@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url(./imgs/gradient\ image.png);
  background-position: center;
  background-size: 70%; 
  width: 100vw;
  height: 100vh;
  background-color: #16161a;
  overflow-x: hidden;
  background-attachment: fixed;
}


h1{
  display: grid;
  place-items: center;
  color: aliceblue;
  margin-top: 20px;
}

.todo-app {
  width: 100%;
  max-width: 830px;
  background-color: #374151;
  margin: 70px auto 20px;
  padding: 50px 30px 70px;
  border-radius: 10px;
  box-shadow:
  0 7px 30px -10px rgba(24, 29, 19, 0.8);
}

.row {
  display: flex;
  align-items: center;
  background: #edeef0;
  border-radius: 1rem;
  margin-bottom: 25px;
}

#inputTask {
  flex: auto;
  border: none;
  outline: none;
  background: transparent;
  padding: 13px;
  font-size: 16px;
  font-weight: 500;
}


/* BUTTON */


button {
  display: inline-block;
  border-radius: 15px;
  background-color: #111827;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  transition: 0.5s;
}

button span:after {
  content: "+";
  opacity: 0;
  transition: 0.3s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}



/* LIST CONTENT */

ul li{
  list-style: none;
  font-size: 17px;
  padding: 14px 8px 14px 50px;
  user-select: none;
  cursor: pointer;
  background-color: #111827;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  position: relative;
  transition: ease .4s all;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./imgs/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
  color: #7a7e7b;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(./imgs/checked.png);
  background-color: #0d153a;
  opacity: .5;
}

li:hover{
  background-color: #0d153a;
  opacity: .6;
}

ul li span{
  position: absolute;
  right: 0px;
  width: 40px;
  top: 5px;
  font-size: 30px;
  color: rgb(206, 14, 14);
  line-height: 40px;
  text-align: center;
}

.p-taskPending{
  display: none;
}
#p-taskPendingID{
  text-align: center;
  color: #b6b6b6;
  font-weight: 500;
}
/* Fechas */
  #fecha_actual {
    margin-top: 20px;
    text-align: center;
    font-weight: lighter;
    color:#ffffff;
    font-size: 17px;
  }


/* FILTER */

#selectFilter{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 150px;
  margin-top: 30px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #374151;
  color: #fff;
  cursor: pointer;
  transition: all 300ms;
}

#filterAll {
  display: flex;
  justify-content: center
}


#h1Title {
  background: linear-gradient(to right, #ff0000, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 480px){
  .todo-app{
    max-width: 95%;
  }
  body{
    overflow-x: hidden;
  }

  button span:after {
    content: none;
    opacity: 0;
    top: 0;
  }
  
  button:hover span {
    padding-right: 0px;
  }
  button{
    width: 160px;
  }

  #inputTask {
    max-width: 60%;
  }
}

